<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content ="width=device-width,initial-scale=1.0"/>
        <meta http-equiv="x-UA-Compatible" content="ie=edge"/>
        <title>Image to PDF</title>
    </head>
    <body>
        <h1>Image to PDF</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar"/>
            <button type="submit">View Result</button>
        </form>
    </body>
</html>