form{
	text-align: center;
	padding-top: 10%;

}
form{

	border: 2px solid black;
	padding: 1%;
	background-color: #81e69b;
	border-radius: 5px;
	width: 50%;
	margin: 5% 25% 20% 25%;
}
input{
	margin:0% 3% 5% 15%;
}
select{
	margin:0% 0% 0% -6%;
}
button{
	margin: 0% 0% 0% -10%;
}
#result{
	margin:0% 0% 0% -25%;
}